body {
  position: relative;
  text-align: center;
  padding: 20px;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/game_wallpaper.png');
  filter: alpha(opacity=90);
  color: white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.game {
  margin: auto;
  width: 450px;
  height: 450px;
}

div[data-cell] {
    width: 125px;
    height: 125px;
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    float: left;
    border: 1px solid #808080;
    font-size: 75px;
    font-family: "Verdana";
    text-align: center;
    text-shadow: 5px 5px #000000;
    margin: 10px;
    opacity: 0.9;
}

.row {
    clear: both;
}

#announce-winner {
    clear: both;
}

hr {
  border-color: #f2f2f2;
  height: 2px;
  max-width: 200px;
}

h1 {
    text-transform: uppercase;
}

h1, p {
  text-align: center;
}

h1, #announce-winner {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

#back_button {
  height: 50px;
  float: left;
}

@media ( max-width: 600px) {
  div[data-cell] {
    width: 75px;
    height: 75px;
    font-size: 50px;
  }
  .game {
    text-align: center;
    margin: auto;
    width: 300px;
    height: 300px;
  }
  #back_button {
    height: 25px;
    padding-left: 10px;
    padding-top: 10px;
  }
  h1 {
    font-size: 20px;
  }
}

#intro_paragraph {
  color: white;
  text-align: center;
}

#announce-winner {
  padding-bottom: 30px;
}
