body {
  position: relative;
  padding: 10px;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../img/game_wallpaper.png');
  filter: alpha(opacity=90);
  /*text-align: center;*/
  color: white;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#game {
  margin: auto;
  width: 525px;
}

[data-stack] {
    display: flex;
    justify-content: left;
    align-items: center;
    -webkit-align-items: center;
    display: -webkit-flex;
    height: 101px;
    background-color: #f0f8ff;
    margin: 25px;
    opacity: 0.9;
}

[data-stack] {
  height: 150px;
}

[data-block] {
    width: 37.5px;
    float: left;
}

[data-block="25"] {
    height: 37.5px;
    background-color:#00004d;
}

[data-block="50"] {
    height: 75px;
    background-color: #004d00;
}

[data-block="75"] {
    height: 112.5px;
    background-color:#990000;
}

[data-block="100"] {
    height: 150px;
    background-color: #e6e600;
}


#announcer {
    clear: both;
    margin-top: 50px;
}

hr {
  border-color: #f2f2f2;
  height: 2px;
  max-width: 200px;
}

h1 {
    text-transform: uppercase;
    margin-top: 100px;
}

h1, p {
  text-align: center;
}

h1, #announcer {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px #000000;
}

#back_button {
  height: 50px;
  float: left;
}

@media ( max-width: 600px) {
  [data-block] {
    width: 18.75px;
  }
  div[data-stack] {
    height: 75px;
    width: 300px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #game {
    text-align: center;
    width: 300px;
  }
  #back_button {
    height: 25px;
    padding-left: 10px;
    padding-top: 10px;
  }
  [data-block="25"] {
      height: 18.75px;
      background-color:#00004d;
  }
  [data-block="50"] {
      height: 37.5px;
      background-color: #004d00;
  }
  [data-block="75"] {
      height: 56.25px;
      background-color:#990000;
  }
  [data-block="100"] {
      height: 75px;
      background-color: #e6e600;
  }
  h1 {
    font-size: 20px;
    margin-top: 50px;
  }
  body {
    text-align: center;
  }
}

#intro_paragraph {
  color: white;
  text-align: center;
}

#announce-winner {
  padding-bottom: 30px;
}
