<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="Piero Pretto">
      <meta property="og:type" content="article"/>
      <meta property="og:description" content="Web consultant with an expertise in web accessibility and client-side development."/>
      <meta property="og:img" content="http://pieropretto.com/img/preview-min.jpg"/>
      <meta property="og:img" content="img/preview-min.jpg"/>
      <meta property="og:site_name" content="http://pieropretto.com"/>
      <meta property="og:title" content="Piero Pretto - Web Developer"/>
      <meta property="og:author" content="Piero Pretto">

      <title>Piero Pretto - Web Consultant</title>
      <!-- Bootstrap Core CSS -->
      <link rel="stylesheet" href="css/bootstrap_mini.css">
      <link rel="stylesheet" href="css/consulting.css">

  </head>
  <body ng-app="consulting_app">

    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top custom-nav">
      <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">My Portfolio</a>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <!-- Page Content -->
    <main ng-controller="ContentCtrl" class="container">
      <div class="row">
        <br>
        <br>
        <br>
        <br>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <img class="img-responsive img-circle" src="img/me-min.jpg" alt="Piero Pretto">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <nav class="navbar custom-nav" id="content-nav" role="navigation">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 nav-container">
                  <div class="navbar-header">
                    <a class="navbar-brand col-xs-12 col-sm-12 col-md-4 col-lg-4" href="#/" ng-click="getContent(0)">About</a>
                    <a class="navbar-brand col-xs-12 col-sm-12 col-md-4 col-lg-4" href="#/" ng-click="getContent(1)">Contact</a>
                    <a class="navbar-brand col-xs-12 col-sm-12 col-md-4 col-lg-4" href="#/" ng-click="getContent(2)">Porfolio</a>
                  </div>
                </div>
            </nav>
            <br>
            <br>
            <ng-include src="showContent()"></ng-include>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="js/consulting-app.js"></script>
  </body>
</html>
