<form id="form" ng-submit="messageSubmit()" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div role="list" class="form-group">
    <label for="name">Name</label>
      <input role="listitem" ng-model="name" type="text" class="form-control" id="title" aria-describedby="name input" placeholder=" Mike Jones" pattern=".{3,}" required>
    <br>
    <label for="phone">Phone</label>
      <input role="listitem" ng-model="phone" type="text" class="form-control" id="title" aria-describedby="phone input" placeholder=" 281-330-8004" pattern=".{9,}" required>
    <br>
    <label for="business">Business</label>
      <input role="listitem" ng-model="business" type="text" class="form-control" id="title" aria-describedby="charity input" placeholder=" Meals On Wheels" pattern=".{3,}">
    <br>
    <label for="message">Request</label>
      <textarea role="listitem" ng-model="message" type="text" class="form-control" id="description" rows="4" aria-describedby="message input" placeholder=" This place rocks because.." pattern=".{5,}" required></textarea>
  </div>
  <br>
  <button id="emailButton" type="submit" class="btn btn-default">Submit</button><span id="status"></span>
</form>
